[user]
	name = IAmMoltony
	email = koronavirusnyj@gmail.com
[credential]
	helper = store
[credentials]
	helper = store
[merge]
	summary = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[gui]
	recentrepo = /home/moltony/desktop-wallpaper
	recentrepo = /home/moltony/savefiles
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
